{% extends 'base.html.twig' %}

{% block title %}Finances Tracker{% endblock %}

{% block body %}
<style>
    .wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
</style>

<div class="wrapper">
    {% if userLoggedIn %}
        <h1>Hello {{ app.user.forename }}! ✅</h1>
    {% else %}
        <h1>Hi there! You must <a href="{{ path('app_login') }}">sign in</a> to use this app.</h1>
    {% endif %}
</div>
{% endblock %}
